{% extends "bootstrap/base.html" %} 

{% block title %} RadAI - Rads versus machine {% endblock %} 

{% import "bootstrap/fixes.html" as fixes %}

{# Then, inside the head block, we apply these. To not replace the header,
   ``super()`` is used: #}
{% block head %}
    {{super()}}
    {{fixes.ie8()}}
{%- endblock %}

{% block navbar %}

 <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="/">Home</a></div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="defaultNavbar1">
        <ul class="nav navbar-nav">
          <li><a href="/worklist">Worklist</a></li>
          <li><a href="/stats">Stats</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right list-inline">
           {% if current_user.is_anonymous %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
          {% else %}
          <li>Logged in as {{current_user.username}} <a href="{{ url_for('logout') }}"> Logout</a> </li>
          {% endif %}
        </ul>

    </div>
    
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

{% endblock %} 

