{% extends "base.html" %} {% block content %}

<div class="container-fluid">
	<main role="main" class="col-md-12">
		<div class="row">
			<h2 class="text-center">
				<span style="color: purple;">
						 Human versus Machine </span></h2>

			<div class="text-center">
				  <img style=" max-width: 100%;height: auto;" src="{{ url_for('static',filename='logos/radai.gif') }}" class="img-fluid" width="auto" alt="Responsive image">
			</div>
		</div>
		<!-- /.row -->
		{% if current_user.is_anonymous %}
		<div class="text-center"><a class="btn btn-primary" style="color:white;" href="{{ url_for('login') }}">Login to get started</a> </div>
		{% else %}
		<div class="text-center"><a class="btn btn-primary" style="color:white;" href="{{ url_for('worklist') }}">Select a study to read</a> </div>
		{% endif %}
	</main>
</div>
<!-- /.container-fluid -->

{% endblock %}
