{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
	 <main role="main" class="col-sm-12 ml-lg-auto col-md-12 pt-3">
	   <div class="row">   
				   <h2 class="text-center"> 
						 <span style="color: purple;">
						 Radiologist versus Machine </span></h2>

					 <div class="container-fluid">
				<img src="/static/logos/logo.png" class="img-fluid" alt="Responsive image">
					 </div>
	  </div> <!-- /.row -->
	 </main>
  </div> <!-- /.container-fluid -->

{% endblock %}