{% extends "base.html" %}

{% block content %}

 <div class="container-fluid">
	   <div class="row">   
		   
		  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
			   <div class="table-responsive">
                    <legend class="text-center"> Leaderboard </legend>
			  </div> <!-- /.table-responsive -->

			  <div class="row">
 				<legend class="text-center"> Your score </legend>
			  </div>

		  </main>
	  </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->


{% endblock %}