{% extends "base.html" %}

{% block content %}

 <div class="container-fluid">
	   <div class="row">   
		   
		  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
			   <div class="table-responsive">
                    <legend class="text-center"> Leaderboard </legend>
					
					<div class="table-responsive">
					<table class="table table-striped">
					  <thead class="thead-inverse">  
						<tr>
              			  <th>#</th>
						  <th>User</th>
						  <th>Score</th>
						  <th>Accuracy</th>
						  <th>Machine</th>
						</tr>
					  </thead>
					</table>

			  </div> <!-- /.table-responsive -->
		  </main>
	  </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->

<br>
<br>
  <hr>
  <br>
  <br>

<div class="container-fluid">

			  <div class="row">
				  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
 				<legend class="text-center"> Your score </legend>
				  </main>
			  </div>
</div>

{% endblock %}