{% extends "base.html" %} {% block content %}

<div class="container-fluid">
	<div class="row">

		<nav class="col-sm-3 col-md-2 col-md-1 d-none d-sm-block bg-light sidebar">
			<ul class="nav nav-pills flex-column">
				<li class="nav-item">
					<a class="nav-link active" href="#">Home </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Worklist</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Stats</a>
				</li>
			</ul>
		</nav>

		<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">

			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 text-center"> Patient ID: 1001 </div>
				</div>
				<!--/.row -->

				<div class="row">
					<div class="col-xs-12 text-center"> Age: 45 </div>
				</div>
				<!--/.row -->

				<div class="row">
					<div class="col-xs-12 text-center"> Sex : F </div>
				</div>
				<!--/.row -->


				<div class="row">
					<p>
						<p>
							<p>
				</div>
				<!--/.row -->

				<div class="row">
					<img src="{{ url_for('static', filename=user_image) }}" class="img-responsive center-block" alt="">
				</div>
				<!-- /.row -->

				<div class="row">
					<legend>Xray reporting template</legend>
					<form>
						<div class="form-check form-check-inline">
							<legend>Is the CXR diagnostic of pneumonia</legend>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="pneumoniaRadio1" value="1">
							<label class="form-check-label" for="pneumoniaRadio1">Diagnostic of Pneumonia</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="pneumoniaRadio0" value="0">
							<label class="form-check-label" for="pneumoniaRadio0">Negative for pneumonia</label>
						</div>

						<br>
						<legend>Other findings on the CXR</legend>
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="findingsCheck1" value="2">
							<label class="form-check-label" for="findingsCheck1">Consolidation</label>
						</div>
						<div> 
							<input type="checkbox" class="form-check-input" id="findingsCheck2" value="3">
							<label class="form-check-label" for="findingsCheck2">Infiltrates</label>
						</div>
						<div> 
							<input type="checkbox" class="form-check-input" id="findingsCheck3" value="4">
							<label class="form-check-label" for="findingsCheck2">Atelectasis</label>
						</div>
						<br>
						<div class="form-group">
							<label for="studyComments">Comments</label>
							<input type="text" class="form-control" id="studyComments" placeholder="comments">
						</div>
						<button type="submit" class="btn btn-primary">Save Report</button>
					</form>
				</div>
				<!--/.row -->

				<div class="row">
					<h1> Xray Reporting</h1>
						<form action="" method="post">
							{{form.hidden_tag()}}

							<p>
								{{form.pneumonia.label}} <br>
								{{form.pneumonia(size=32)}}
							</p>
							<p>
								{{form.findings.label}} <br>
								{{form.findings(size=32)}}
							</p>
							<p>{{form.comments.label()}} {{ form.comments }} </p>
							<p>{{form.submit()}} </p>
						</form>
				</div>
				<!--/.row -->
				
			</div>
			<!--/.container -->

		</main>
		<!--/.main -->
	</div>
	<!-- /.row -->
</div>
<!-- /.container-fluid -->


{% endblock %}